@import '../../shared/styles/colors.scss';

.header {
  height: 50px;
  max-width: 100%;
  background-color: $primaryColor;
  margin-bottom: 16px;
}

.nav {
  display: flex;
  margin: 0 100px;
}

.logo {
  margin-top: 7px;
  height: 36px;
}
